<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Mean Project</h2>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, iste?</span>
                </div>
            <div class="col"> 
               <h4>Heading 1</h4>
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                </ul>
            </div>
            <div class="col">
                <h4>Heading 2</h4>
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                </ul>
            </div>
            <div class="col">
                <h4>Heading 3</h4>
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                </ul>
            </div>
            <div class="col">
                <h4>Heading 4</h4>
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                </ul>
            </div>
        </div>
        <!-- <div class="row" style="text-align:center">
            <div class="col-2">
                Privacy
            </div>
            <div class="col-2">
                Policy
            </div>
            <div class="col-2">
                Contact US 
            </div>
            <div class="col-2">
                About US
            </div>
        </div> -->
      <div class="row" style="margin:50px 0">
        <div class="col" style="text-align:center;margin:0 16px;">
            <p> @ Powered by: Arjun Sehgal</p>
            <div class="row">
                <div class="col" style="text-align:center">
                    <i style="font-size :25px;margin:0 16px;" class="bi bi-paint-bucket"></i>
                    <i style="font-size :25px;margin:0 16px;" class="bi bi-paint-bucket"></i>
                    <i style="font-size:25px;margin:0 16px;" class="bi bi-youtube"></i>
                    <i style="font-size:25px;margin:0 16px;" class="bi bi-github"></i>
                </div>
              </div>
        </div>
      </div>
      
    </div>
  </footer>