<body>
    <section>
        <div class="contactUs">
            <div class="title">
                <h2>Get In Touch</h2>
            </div>
            <div class="box">
                <div class="contact form">
                    <h3>Send a Message</h3>
                    <form>
                        <div class="formbox">
                            <div class="row50">
                                <div class="inputbox">
                                    <span>First Name</span>
                                    <input type="text" placeholder="john">
                                </div>
                                <div class="inputbox">
                                    <span>Last Name</span>
                                    <input type="text" placeholder="carter">
                                </div>
                            </div>
                            <div class="row50">
                                <div class="inputbox">
                                    <span>Email Address</span>
                                    <input type="text" placeholder="abc@gmail.com">
                                </div>
                                <div class="inputbox">
                                    <span>Mobile Number</span>
                                    <input type="number" placeholder="+91 91499 06736">
                                </div>
                            </div>
                            <div class="row100">
                                <div class="inputbox">
                                    <span>Message</span>
                                    <textarea cols="30" rows="1" placeholder="Enter your message here"></textarea>
                                </div>
                            </div>
                            <div class="row100">
                                <div class="inputbox">
                                    <!-- <span>Message</span> -->
                                    <input type="submit" value="send">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="contact info">
                    <h3>Contact Info</h3>
                    <div>
                        <span><i class="bi bi-geo-alt"></i></span>
                        <p class="ptag">Navi Mumbai, Airoli, Maharastra</p>
                    </div>
                    <div>
                        <span>
                            <i class="bi bi-envelope-at"></i>
                            <a class="atag" href="mailto:abc@gmail.com">abc@gmail.com</a>
                        </span>
                    </div>
                    <div>
                        <span>
                            <i class="bi bi-telephone-inbound"></i>
                            <a class="atag" href="tel:+919149906736">+91 91499 06736</a>
                        </span>
                    </div>
                    <div>
                        <ul class="sci">
                            <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                            <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                            <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                            <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="contact map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15073.60319693221!2d73.00510519999999!3d19.177688900000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1670578824608!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </section>
</body>